{% extends 'gos/paginas/base.html' %} {%block content%}
<a href="/logout/">logout</a>
<div class="container">
  <div class = "caixa"style="overflow-x: auto">
    <div class=" conteudo">
     {%for os in os%}
    <div class="card cardy ">
      <h6 class="card-header">servico: {{os.servico}}</h6>
      <div class="card-body">
        <p class="card-text">servico: {{os.servico}}</p>
        <p class="card-text">Referencia: {{os.referencia}}</p>
        <p class="card-text">Cidade: {{os.cidade}}</p>
        <p class="card-text">Data do Pedido: {{os.dtpedido}}</p>
      </div>
      <hr>
      <div class="container">
        <a href="/os/{{os.servico}}/edit">Editar</a>
      </div>

    </div>
    {%endfor%}

  </div>

  </div>

  </div>
{%endblock%}



